html, body {
  margin: 0;
  padding: 0;
  background: #fefdf9;
  font-family: sans-serif;
}

#logo {
  display: block;
  width: 100%;
  max-height: 512px;
  object-fit: contain;
  border-bottom: 0.5em solid #b63b3a;
}

#text {
  padding: 2em;
  background: #eee;
  border-top: 0.5em solid #823835;
  border-bottom: 0.5em solid #b63b3a;
}

section {
  margin: 2em 0;
}

h4 {
  color: #0c4367;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em;
  background: #0c4367;
  border-top: 0.5em solid #823835;
  align-items: center;
  justify-content: center;
}

#gallery img {
  width: 150px;
  height: 200px;
  margin: 0.5em;
  padding: 1em;
  background: #fefdf9;
  object-fit: cover;
}